<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>My Burberry</string>
		<key>image</key>
		<string>https://scontent.fisu1-1.fna.fbcdn.net/v/t1.0-0/p75x225/19146011_1573817336025001_2991315705149298167_n.jpg?oh=86286ce61170b7a44d56d2b0b6355da6&oe=5A0A1E91</string>
		<key>price</key>
		<string>140$</string>
		<key>releaseDate</key>
		<string>2008-07-08</string>
		<key>text</key>
		<string>alalalal</string>
	</dict>
</array>
</plist>
